* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Encode Sans', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lora', serif;
  font-family: 'Varela', sans-serif;
  font-family: 'Varela Round', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

header img {
  width: 171px;
  height: 36px;
}

.border-top {
  height: 2px;
  background-color: #F5F6F7;
}

.navbar-list {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Encode Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.02em;
  height: 40px;
}

.navbar-list #g1 {
  margin-left: 135px;
  margin-right: 80px;
  color: #C3170C;
}

.navbar-list #globo {
  margin-right: 80px;
  color: #1E4B9B;
}

.navbar-list #valor {
  margin-right: 80px;
  color: #006766;
}

.navbar-list #ge {
  margin-right: 80px;
  color: #07AA47;
}

.navbar-list #cartola {
  margin-right: 80px;
  color: #E3662B;
}

.navbar-list #globoplay {
  margin-right: 80px;
  color: #FB0735;
}

.navbar-list #dropz {
  margin-right: 80px;
  color: #FF75BB;
}

.navbar-list #gshow {
  margin-right: 80px;
  color: #EC7D00;
}

.navbar-list #quem {
  margin-right: 80px;
  color: #323333;
}

.navbar-list #receitas {
  margin-right: 140px;
  color: #A81D83;
}

.container {
  display: flex;
  justify-content: flex-start;
  margin-left: 90px;
  font-family: Encode Sans;
}

.container section {
  height: 160px;
}

.left-side {
  margin-left: 40px;
}

.left-side .top-section .main-subject {
  margin-top: 34px;
  margin-bottom: 29px;
  text-align: left;
  vertical-align: top;
  width: 624px;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 67px;
  letter-spacing: -0.01em;
  color: #C4160C;
}

.left-side .top-section .secundary-subject {
  position: relative;
  width: 622px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: #303134;
}

.border-middle {
  position: absolute;
  top: 466px;
  height: 2px;
  background-color: #F5F6F7;
  width: 624px;
}

.left-side .middle-section {
  display: flex;
  width: 624px;
  margin-left: -5px;
}

.left-side .middle-section img {
  position: absolute;
  width: 193px;
  height: 110px;
  border-radius: 12px;
  top: 498px;
}

.column {
  margin-right: 220px;
}

.left-side .bottom-section {
  display: flex;
  width: 624px;
  margin-left: -5px;
}

.left-side .middle-section .title {
  top: 619px;
}

.left-side .middle-section .sub-title {
  top: 644px;
  width: 180px;
}

.left-side .middle-section .preview {
  top: 732px;
}

.left-side .bottom-section .title {
  top: 837px;
}

.left-side .bottom-section .sub-title {
  top: 862px;
}

.left-side .bottom-section .preview {
  top: 950px;
}

.left-side .bottom-section .preview::after {
  position: absolute;
  content: "";
  bottom: -40px;
  height: 40px;
  width: 1px;
}

.left-side .title {
  position: absolute;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #C4170C;
}

.left-side .sub-title {
  position: absolute;
  width: 192px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.045em;
  color: #2F3134; 
}

.left-side .preview {
  position: absolute;
  width: 174px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.048em;
  color: #2F3134;
}

.border-bottom {
  position: absolute;
  top: 811px;
  height: 2px;
  background-color: #F5F6F7;
  width: 624px;
}

.vertical-border {
  position: absolute;
  top: 162px;
  left: 810px;
  height: 845px;
  width: 2px;
  background-color: #F5F6F7;
}

.right-side .left-section {
  margin-left: 90px;
  margin-top: 34px;
  width: 240px;
}

.right-side img {
  height: 128px;
  width: 240px;
  border-radius: 12px;
}

.right-side .title {
  margin: 10px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #16AE54;
}

.right-side .sub-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.045em;
  color: #2F3134;
}

.right-side div:nth-of-type(2) {
  margin-bottom: 50px;
}

.right-side .preview {
  margin-top: 10px;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.048em;
  color: #2F3134;
}

.right-vertical-border {
  position: absolute;
  top: 162px;
  left: 1120px;
  height: 845px;
  width: 2px;
  background-color: #F5F6F7;
}

.right-side .right-section {
  position: absolute;
  left: 1150px;
  top: 162px;
  width: 240px;
}

.right-side .right-section .title {
  color:#EC8006; 
}

.right-side div:first-child {
  margin-bottom: 50px;
}


